@import "tailwindcss";

:root {
  --bg: #f3f4f6;
  --card: #ffffff;
  --text: #111;
  --primary: #6d28d9;
  --paragraph: #f5f5f5;
  --context:#131313b6;
}

.alto-contraste {
  --bg: #000;
  --card: #111;
  --text: #fbff00;
  --primary: #ffae00;
  --paragraph: #fbff00;
  --context: #fbff2d;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;  background: var(--bg);
  color: var(--text);
}

h1 {
  color: var(--paragraph);
}